body {
	background: no-repeat center url("background.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.heading {
	color: rgb(201,201,255);
	text-align: center;
	font-size: 3rem;
	font-family: 'Patua One', cursive;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #779ecb;;
}

.message {
	background-color: #bed1e6;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 1.3rem;
	padding: 5%;
	color: #a477cb;
	/* color: #779ecb; */
}

.message-right {
	text-align: end;
	margin-right: 5%;
	font-size: 1.5rem;
	color: #4c80bb;
}

@media only screen and (max-width: 850px) {
	.heading {
		font-size: 2.2rem;
	}

	.message{
		font-size: 1.1rem;
		margin-left: 10%;
		margin-right: 10%;
	}

	.message-right{
		font-size: 1.3;
		margin-right: 5%;
	}
}


@media only screen and (max-width: 450px) {
	.heading {
		font-size: 1.5rem;
	}

	.message{
		font-size: 1rem;
		margin-left: 5%;
		margin-right: 5%;
	}

	.message-right{
		font-size: 1.2;
		margin-right: 5%;
	}
}